@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-bg {
    @apply bg-gradient-to-b from-sky-600 to-slate-900;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}