@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@layer components {
    .btn-primary {
        @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
    }
}

body {
    @apply bg-white bg-gradient-to-b from-latte-x-light via-latte-x-light to-latte-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html {
    overflow-x: hidden;
    -webkit-animation-fill-mode: initial;
    animation-fill-mode: initial;
}